{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <div>
        {% if current_user.can(Permission.WRITE_ARITICLES) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>

    <div class="page-header">
      <h1>
        Hello~~~，
        {% if name %}
          {{ name }}
        {% else %}
          Stranger
        {% endif %}
        !
      </h1>
    </div>

    <div class="posts">
        {% for post in posts %}
            <li class="post">
                <div class="'profile-thumbnail">
                    <a href="{{ url_for('.user', username=post.author.username) }}">
                        <img class="'img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                    </a>
                </div>
            <div class="post-date">{{ post.timestamp }}</div>
            <div class="post-author">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-body">
                {{ post.body }}
            </div>
            </li>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }} {# 用宏函数的方法插入定义的块，pagination是从路由的地方传进来的 #}
    </div>

{% endblock %}